/*layout*/
#tp
{
    border-top: 5px solid #8CA7BB;
}

#tp-left
{
    color: #22B14C;
    float:left;
    padding-left: 10px;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    
}

#tp-right
{
    padding-right: 20px;    
    font-size: 10px;
    float: right;
    padding-top:15px;
}

#content
{
    padding-left:10px;
    padding-right:10px;
}

#header
{
    
    background-image:url(/front/img/header.png);
    font-size: 16px;
    height: 30px;
    margin-bottom:50px;
}

#hd-left
{
    padding-left: 10px;
    float: left;
    padding-top: 6px;
}

#menu
{
    padding-right: 5px;
    float: right;
    padding-top: 3px;
}

#menu a
{
    color: #666666;
    font-size: 11px;
    padding-right:5px;
}

#nav
{
    text-align:center;
    padding-bottom:20px;
    font-size: 13px;
    margin-top: -37px;
}

#nav a
{
    text-decoration:none;
    color: #666666;
}

#nav a:hover
{
    text-decoration:underline;
}

#left
{
    float:left;
    font-size: 12px;
    color: #333333;
    width: 207px;
}

#left ul
{
    list-style-type: none;
    margin: 0;
    padding:0;
    
}

#left ul a
{
    color: #333333;
}

#left ul li
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 2px; 
}

#new-gr
{
  margin-top: 50px;
  padding-left:25px;
  font-size: 14px;
}
#new-gr a
{
	color: #666666;
	
}
.select a
{
    text-decoration:none;
}

.select
{
    background:#D7D7E3;
    border: 1px solid #999999;

}

#right
{
    min-height:500px;
    border-left: 1px dotted #666666;
    margin-left:220px;
    padding-left: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    
}

#count
{
    width: 55%;
    font-size: 11px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.count_tb
{
	border-collapse: collapse;
    margin-bottom: 50px;
    width: 100%;
	
}

.count_tb td,th
{
    border: 1px solid #999999;  
    padding:3px;  
}


th
{
    padding:15px;
    background: #DCDCDC;
    width: 87%;
}

td.tdbg
{
    background: #DCDCDC;
    padding: 8px;
}

.tdrg
{
    text-align: right;
}

.tab-menu
{
	position:relative;
	cursor: pointer;
}

.info-menu
{
    display:none;
	background-color: white;
    border:1px solid #666666;
    border-bottom-width: 2px;
    left: 10px;
    line-height: 19px;
    padding: 8px 0 14px;
    position: absolute;
    text-align: center;
    z-index: 100;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    width:150px;
}

.info-menu a
{
	color: #666666;
}

.info-menu a:hover
{
    color: #333333;
}

.tab-menu:hover
{
	border-bottom: 1px dashed #666666;	
}

#footer
{
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #C3C3C3;
    padding-top: 15px;
    margin-top:20px;
    padding-bottom:15px;
    
}

body {
    margin: 0px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #666666;
    
}

.clr
{
    clear: both;
}

/*archive*/
#search-bl
{
	border: 1px solid #999999;
	margin-left: 5px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
   
}

#search-arcv-inf
{
	padding: 20px 15px;
	float:left;
}
.form-text
{
	padding-left:30px;
}

select
{
	width: 150px;
}

#arch-info
{
	border-left: 1px solid #999999;
    float: right;
    margin-right: 265px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 5px;
}

.cell-right
{
	width:250px;
}

/*history*/

#date-hist
{
	float:left;
}

#token-hist
{
	float:right;
}

.info-dialog
{
	min-height:500px;
}
